sudo: required

jobs:
    include:
        - stage: style
          os: linux
          language: python
          python: 3.6
          script:
              - pip install --editable .[ci,dev]
              - python check.py
              - coveralls || true

        - stage: deploy
          os: linux
          language: python
          python: 3.6
          script:
              - python release.py

        - stage: deploy
          os: osx
          language: generic
          script:
              - if [[ "$TRAVIS_OS_NAME" == "osx" ]];
                then
                    sudo mv $(which python) $(which python)2;
                    curl -LO https://www.python.org/ftp/python/3.6.8/python-3.6.8-macosx10.6.pkg;
                    sudo installer -package python-3.6.8-macosx10.6.pkg -target /;
                    sudo ln -s $(which python3) /usr/local/bin/python;

                    curl https://bootstrap.pypa.io/get-pip.py | python;
                    sudo mv $(which pip) $(which pip)2;
                    sudo ln -s $(which pip3) /usr/local/bin/pip;
                    export PATH=$PATH:$(dirname $(which pip3));
                fi
              - python release.py

stages:
    - name: style
      if: NOT (type = api)
    - name: deploy
      if: (branch = master) AND (NOT (type IN (push, pull_request)))
